<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RBC Pet Store</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="list">List</a></li>
      <li routerLinkActive="active" *ngIf="isAdmin()"><a routerLink="add">Add</a></li>
      <li routerLinkActive="active"><a routerLink="search">Search</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="logout"(click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
