<h1>Search Pets</h1>

<form (ngSubmit)="search()" class="form-horizontal">
  <div class="form-group">
    <label for="pet-name" class="col-sm-2 control-label">Pet Name:</label>
    <div class="col-sm-9">
      <input [(ngModel)]="pet.name" class="form-control" name="name" id="pet-name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Status:</label>
    <div class="radio col-sm-9">
      <label class="control-label radio-inline" *ngFor="let status of statuses" >
        <input [(ngModel)]="pet.status" [value]="status" name="status" type="radio">
        {{status | uppercase}}
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <button class="btn btn-primary" type="submit">Search ...</button>
    </div>
  </div>
</form>

<div *ngIf="pets$">
  <h2>Results: {{(pets$ | async)?.length}}</h2>
  <app-layout [pets$]="pets$" [showDelete]="false"></app-layout>
</div>
